<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <header>
        <div>
            <h2>Bloom & Blossom</h2>
            <nav>
                <a>Домой</a>
                <a>О нас</a>
                <a>Букеты</a>
                <a>Контакты</a>
            </nav>
        </div>
    </header>
    <div>
        @RenderBody()
    </div>
</body>
</html>
