<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="~/css/site.css"/>
    <meta charset="utf-8" />
    <title>Flower — минималистичный магазин</title>
</head>
<body>
    <header class="container-header">
        <nav>
            <ul>
                <li><a asp-page="/Home">Главная</a></li>
                <li><a asp-page="/About">О нас</a></li>
                <li><a asp-page="/Bouquets">Букеты</a></li>
                <li><a asp-page="/Contacts">Контакты</a></li>
                <li><a asp-page="/Profile">Профиль</a></li>
            </ul>
        </nav>
     </header>
    <div>
        @RenderBody()
    </div>
</body>
</html>
