@page
@model FlowerShop.Web.Pages.Account.PurchasesModel
@{
}
<div class="bouquet-container">
    @if (Model.CartEntities?.Count > 0)
    {
        var culture = new System.Globalization.CultureInfo("ru-RU");
        foreach (var (bouquet, idx) in Model.CartEntities.Select((b, i) => (b, i)))
        {
            <div class="bouquet-card bouquet-card__@idx">
                <div class="bouquet-card__description">
                    <h2 class="bouquet-card__title">@bouquet.Bouquet</h2>
                </div>

                <form method="post" asp-page-handler="AddToCart" class="bouquet-card__actions">
                    <input type="hidden" name="bouquetId" value="@bouquet.Id" />
                    <input type="hidden" name="qty" value="1" />
                    <button class="btn" type="submit" aria-label="Добавить букет «@bouquet.Id»">
                        Добавить букет
                    </button>
                </form>
            </div>
        }
    }
    else
    {

        <p>Букеты не найдены.</p>
    }
</div>
