@page
@model FlowerShop.Web.Pages.PageHeader.AboutModel
@{
}
<div class="home-container">
    <div class="content about">
        <h1 class="content__main">О Flower&Shop</h1>
        <p class="content__description">Основанная в 2018 году, компания Flower & Shop создает потрясающие цветочные композиции, которые дарят радость и красоту в самые драгоценные моменты жизни. Наша увлеченная команда флористов тщательно отбирает самые свежие цветы у местных производителей, чтобы создать каждый букет с любовью и вниманием к деталям.</p>
        <p class="content__description">Будь то романтический жест, празднование или просто украшение чьего-то дня, мы верим, что каждый цветок рассказывает историю. Мы придерживаемся принципов устойчивого развития и поддерживаем наше местное сообщество, обеспечивая при этом исключительное качество и сервис.</p>
    </div>
</div>