@page
@model FlowerShop.Web.Pages.HomeModel
@{
}

<div class="home-container">
    <div class="content">
        <h1 class="content__main">Красивые цветы для любого случая</h1>
        <p class="content__description">
            Букеты ручной работы из самых свежих цветов, доставленные с любовью к вашему порогу.
        </p>
        <img class="home-container__image" src="~/img/Flower.jpg" alt="Flower Bouquet" />
        <button class="btn btn--accent btn--pill">Купить сейчас</button>
    </div>
</div>
